<h1><%= t('reviews.new.title_for', name: @recruiter.name) %></h1>

<%= form_with url: reviews_path, scope: :review do |f| %>
  <%= f.hidden_field :recruiter_slug, value: @recruiter.public_slug %>

  <div>
    <%= f.label :overall_score, t('reviews.new.overall_score') %><br>
    <%= f.number_field :overall_score, in: 1..5, step: 1, required: true %>
  </div>

  <div>
    <%= f.label :text, t('reviews.new.your_experience') %><br>
    <%= f.text_area :text, rows: 6, required: true %>
  </div>

  <div>
    <%= f.label :email, t('reviews.new.email_optional') %><br>
    <%= f.email_field :email %>
  </div>

  <div style="margin-top:10px;">
    <%= f.submit t('reviews.new.submit') %>
  </div>
<% end %>

